<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Normal view</title>
  </head>
  <body>
    <h1>
      In real life you were absent for <%= year %> years, <%= month %> months,
      <%= day %> days.
    </h1>
    <p>
      pls, go to localhost:1111/quantum to see how meny time u were absent in q
      space
    </p>
  </body>
</html>
